---
import { SITE_TITLE } from "../config";
import "../styles/global.css";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{SITE_TITLE}</title>
	</head>
	<body>
		<div class="text-center">
			<h1 class="text-2xl font-bold mb-1">Max Mustermann</h1>
			<h2 class="text-base">Musterstrasse 1, 12345 Musterstadt</h2>
			<h3 class="text-base">+49 1234 567890 | <a href="#">max.mustermann@example.com</a></h3>
		</div>
	</body>
</html>
