---
import Icon from "astro-icon";
import SocialIcon from "../components/SocialIcon.astro";

import { SITE_TITLE } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
  </head>
  <body class="dark:bg-black">
    <button id="dark-mode-toggle" class="mb-2 mt-2">
      <Icon name="tabler:sun" class="w-6 h-6 dark:text-white" />
    </button>

    <div class="text-center mb-3">
      <h1 class="text-2xl font-bold mb-1 dark:text-white">Max Mustermann</h1>
      <h2 class="text-base dark:text-white">
        Musterstrasse 1, 12345 Musterstadt
      </h2>
      <h3 class="text-base dark:text-white">
        +49 1234 567890 | <a
          href="#"
          class="hover:text-red-500 dark:text-white dark:hover:text-red-500"
          >max.mustermann@example.com</a
        >
      </h3>
    </div>

    <div id="education" class="mb-2">
      <h4 class="text-base font-bold uppercase mb-1 dark:text-white">
        Education
      </h4>
      <hr class="bg-black h-0.5" />

      <div class="flex flex-row">
        <div class="mr-2 dark:text-white">06/2012 - 01/2016</div>

        <div class="dark:text-white">
          <div>
            <span class="font-bold">Bachelor of Science, Informatics</span>
            <span>Munich</span>
          </div>
          <div>Some special description about the bachelor</div>
        </div>
      </div>
    </div>

    <div id="work" class="mb-2">
      <h4 class="text-base font-bold uppercase mb-1 dark:text-white">Work</h4>
      <hr class="bg-black h-0.5" />

      <div class="flex flex-row dark:text-white">
        <div class="mr-2">06/2012 - 01/2016</div>

        <div>
          <div>
            <span class="font-bold">Software developer</span>
            <span>Munich</span>
          </div>
          <div>Some special description about the bachelor</div>
        </div>
      </div>
    </div>

    <div id="social" class="justify-center flex flex-row mb-2">
      <div class="mr-4">
        <SocialIcon icon="fa-brands:github" label="github" url="#" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:linkedin" label="linkedin" url="#" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:medium" label="medium" url="#" />
      </div>
      <div class="mr-4">
        <SocialIcon
          icon="fa-brands:stack-overflow"
          label="stack-overflow"
          url="#"
        />
      </div>
      <div>
        <SocialIcon icon="ant-design:global-outlined" label="website" url="#" />
      </div>
    </div>

    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      window.onload = function () {
        const element = document.getElementById("dark-mode-toggle");

        if (element) {
          element.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark");

            localStorage.theme = document.documentElement.classList.contains(
              "dark"
            )
              ? "dark"
              : "light";
          });
        }
      };
    </script>
  </body>
</html>
